<!DOCTYPE html>
<html>
 
<head>
 
    <title>Enterprise RAG Chatbot</title>
 
    <link
        rel="stylesheet"
        href="/static/style.css"
    >
 
</head>
 
<body>
 
    <h1>Enterprise RAG Chatbot</h1>
 
    <hr>
 
    <h2>Upload Document</h2>
 
    <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
    >
 
        <input
            type="file"
            name="file"
            required
        >
 
        <button type="submit">
            Upload
        </button>
 
    </form>
 
    {% if success %}
 
    <p>{{ success }}</p>
 
    <p>
 
        Collection Name :
 
        <b>{{ collection_name }}</b>
 
    </p>
 
    {% endif %}
 
    {% if error %}
 
    <p>{{ error }}</p>
 
    {% endif %}
 
    <hr>
 
    <h2>Ask Question</h2>
 
    <form
        action="/chat"
        method="post"
    >
 
        <input
            type="text"
            name="collection_name"
            value="{{ collection_name }}"
            placeholder="Collection Name"
            required
        >
 
        <br><br>
 
        <textarea
            name="question"
            rows="5"
            cols="80"
            placeholder="Ask your question..."
            required
        ></textarea>
 
        <br><br>
 
        <button type="submit">
            Ask
        </button>
 
    </form>
 
    {% if answer %}
 
    <hr>
 
    <h2>Question</h2>
 
    <p>
 
        {{ question }}
 
    </p>
 
    <h2>Answer</h2>
 
    <p>
 
        {{ answer }}
 
    </p>
 
    {% endif %}
 
</body>
 
</html>